img{

width: 30%;
float: left ;
margin: 1.66%;

}

h4{

font-family:"Indie Flower";
font-weight: 800;


font-size: 50px;
border-bottom: red 2px solid ;
width:30%;
border-color: #d3d3d3 ;
padding-bottom: 20px;


}